*
!.gitignore
!config.yml
!fastqs/README.md
!references/README.md
!references/NexteraPE-PE.fa
!Makefile
!LICENSE
!README.md
!ref_build-env.yml
!Snakefile
.Rproj.user

!exp
!exp/create_barplot
!exp/create_barplot/env.yml
!exp/create_barplot/renv.lock
!exp/create_barplot/create_barplot.R
!exp/create_barplot/README.md
!exp/create_barplot/in_72.tsv
!exp/create_barplot/PVAL_65_S1_summary.tsv
!exp/create_barplot/PVAL_65_S1.tsv

!exp/gather_Hs_metrics
!exp/gather_Hs_metrics/hsmetrics_all_samples.tsv
!exp/gather_Hs_metrics/join_tables.sh


!exp/create_coverage_plots
!exp/create_coverage_plots/sample_coverages
!exp/create_coverage_plots/sample_coverages/bar
!exp/create_coverage_plots/sample_coverages/bar/*
!exp/create_coverage_plots/sample_coverages/box
!exp/create_coverage_plots/sample_coverages/box/*
!exp/create_coverage_plots/sample_coverages/metrics
!exp/create_coverage_plots/sample_coverages/metrics/*
!exp/create_coverage_plots/env.yml
!exp/create_coverage_plots/create_coverages.ipynb
!exp/create_coverage_plots/ids.tsv
!exp/create_coverage_plots/twist_design_bed.geneTrack.tsv
!exp/create_coverage_plots/gene_names.tsv
!exp/create_coverage_plots/find_names.sh
!exon_cov_analysis
!exon_cov_analysis/*
# This is too big
exon_cov_analysis/all_samples.tsv